<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  </ul>

  <p>
    <%= f.label :sentencja %><br>
    <%= f.text_area :sentence %>
  </p>

  <p>
    <%= f.label :prawdziwy_autor %><br>
    <%= f.text_field :true_author %>
  </p>

  <p>
    <%= f.label :nieprawdziwy_autor %><br>
    <%= f.text_field :fake_author %>
  </p>

  <p>
    <%= f.label :Źródło %><br>
    <%= f.text_field :source %>
  </p>

  <p>
    <%= f.submit "Zatwierdź" %>
  </p>
<% end %>


aaaaaaaaaaaaaaaaaaa